@import "tailwindcss";

@utility container {
    padding-inline: 10px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 80px;
    }

    @variant xl {
        padding-inline: 120px;
    }
}


@theme{
    --background-image-banner : url('../src/assets/homepage/banner.jpg');
    --background-image-shop : url('../src/assets/homepage/shopnow.jpg');
    --background-image-aboutBanner : url('../src/assets/aboutUs/bg-11.jpg');
    --background-image-aboutFixed : url('../src/assets/aboutUs/bg-13.jpg')
}

@theme{
    --font-urbanist : Urbanist, sans-serif;
    --font-cormot : Cormorant Garamond, serif;
    --font-Dafoe : Mr Dafoe, cursive;
}

.sidebar-link {
  @apply flex items-center gap-2 px-4 py-2 rounded-md text-sm text-slate-300 hover:bg-slate-800 hover:text-white transition;
}
.active {
  @apply bg-slate-800 text-white;
}

/* @layer base {
    body {
        font-family: 'Urbanist', sans-serif;
    }
} */