@import "tailwindcss";

@utility container {
    padding-inline: 10px;
    margin-inline: auto;

    @variant sm {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 80px;
    }

    @variant xl {
        padding-inline: 120px;
    }
}

@utility aboutContainer {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
    max-width: 640px; /* Tailwind default sm */
  }

  @variant lg {
    padding-inline: 80px;
    max-width: 1124px; /* 1024px + 100px */
  }

  @variant xl {
    padding-inline: 120px;
    max-width: 1420px; /* 1320px + 100px */
  }
}

@theme{
    --background-image-banner : url('../src/assets/homepage/banner.jpg');
    --background-image-shop : url('../src/assets/homepage/shopnow.jpg');
    --background-image-aboutBanner : url('../src/assets/aboutUs/bg-11.jpg')
}

@theme{
    --font-urbanist : Urbanist, sans-serif;
    --font-cormot : Cormorant Garamond, serif;
    --font-Dafoe : Mr Dafoe, cursive;
}


/* @layer base {
    body {
        font-family: 'Urbanist', sans-serif;
    }
} */